html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

body {
  @apply relative font-sans;
}

html:has(#overlay:not(.hidden)),
html:has(dialog),
html:has(*[data-hide-scrollbar]),
html:has(#mobile-menu-overlay[data-hidden='false']) {
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

.pswp__img {
  object-fit: contain;
  /* max-width: 100%; */
  /* max-height: 100%; */
  /* width: 100%; */
  /* height: 100%; */
  max-height: calc(100dvh - 60px);
  height: 100%;
  width: auto;
}
