<section class="banners">
  <div class="container">
    <div class="banner-mock"></div>
  </div>
</section>

<style>
  .banners {
    @apply py-[80px];
  }
  .banner-mock {
    width: 100%;
    aspect-ratio: 1220 / 480;
    background-color: #243447;
  }
</style>
