---
import { getCollection } from 'astro:content'
import { BannersCarousel } from './BannersCarousel'

const banners = await getCollection('offers')
const items = banners.map((banner) => ({
  slug: banner.slug,
  imageLarge: banner.data.imageLarge,
  imageSmall: banner.data.imageSmall,
}))
---

<section class="banners" transition:name="index-banners">
  <div class="container">
    <BannersCarousel client:load items={items} />
  </div>
</section>

<style>
  .banners {
    @apply py-[80px];
  }
  .banner-mock {
    width: 100%;
    aspect-ratio: 1220 / 480;
    background-color: #243447;
  }
</style>
