---
import { ViewTransitions } from 'astro:transitions'
import { languageTag } from '../paraglide/runtime'
import LoaderOverlay from '../components/layout/LoaderOverlay/LoaderOverlay.astro'

import '../styles/fonts.css'
import '../styles/global.css'

interface Props {
  metaTitle: string
  metaDesc: string
}

console.log(Astro.locals.paraglide)

const { metaTitle, metaDesc } = Astro.props
---

<!doctype html>
<html lang={languageTag()} dir={Astro.locals.paraglide.dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{metaTitle}</title>
    <meta name="description" content={metaDesc} />
    <meta name="robots" content="noindex,follow" />
    <ViewTransitions />
  </head>
  <body class="bg-blue-dark">
    <slot />
    <div id="portal"></div>
    <LoaderOverlay />
  </body>
</html>
