---
import BaseLayout from './BaseLayout.astro'

import Footer from '../components/layout/Footer/Footer.astro'
import Header from '../components/layout/Header/Header.astro'
---

<BaseLayout>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>

<style>
  main {
    @apply text-blue-lightest overflow-x-hidden overflow-y-auto;
  }
</style>
