---
import BaseLayout from './BaseLayout.astro'

import Footer from '../components/layout/Footer/Footer.astro'
import Header from '../components/layout/Header/Header.astro'

type Props = {
  metaTitle?: string
  metaDesc?: string
  metaUrl?: string
}

const { metaTitle = 'flightcore.pl - Hello', metaDesc = 'Hello from flightcore.pl', metaUrl = Astro.url.pathname } = Astro.props
---

<BaseLayout transition:persist metaTitle={metaTitle} metaDesc={metaDesc} metaUrl={metaUrl}>
  <Header transition:persist />
  <main transition:persist>
    <slot />
  </main>
  <Footer transition:persist />
</BaseLayout>

<style>
  main {
    @apply text-blue-lightest overflow-x-hidden overflow-y-auto;
  }
</style>
