---
import BaseLayout from './BaseLayout.astro'

import Footer from '../components/layout/Footer/Footer.astro'
import Header from '../components/layout/Header/Header.astro'

type Props = {
  metaTitle?: string
  metaDesc?: string
}

const { metaTitle = 'Flightcore', metaDesc = '' } = Astro.props
---

<BaseLayout transition:persist metaTitle={metaTitle} metaDesc={metaDesc}>
  <Header transition:persist />
  <main>
    <slot />
  </main>
  <Footer transition:persist />
</BaseLayout>

<style>
  main {
    @apply text-blue-lightest overflow-x-hidden overflow-y-auto;
  }
</style>
