---
import { QuotesCarousele } from './QuotesCarousele/QuotesCarousele'
import { getEntry } from 'astro:content'

const { data: quotes } = await getEntry('quotes', 'pl/index')
---

<section class="root">
  <div class="container">
    <h3 class="title">Rekomendują</h3>
    <p class="subtitle">Wiemy, że nie czytasz, ale poniżej kilka opinii ludzi, którzy skorzystali...</p>
  </div>
  <QuotesCarousele quotes={quotes} client:only="react" />
</section>

<style>
  .root {
    @apply text-white py-[80px];
  }
  .title,
  .subtitle {
    @apply text-center;
  }
  .title {
    @apply text-heading3 mb-[40px];
  }
  .subtitle {
    @apply text-body1;
  }
</style>
