.root {
  margin: auto;
  padding: 32px 0;
  --slide-height: 200px;
  --slide-spacing: 1rem;
  --slide-size: 480px;
}

.viewport {
  overflow: hidden;
  padding: 32px 0;
}

.viewportContainer {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.slide {
  flex: 0;
}

.slideQuote {
  min-width: var(--slide-size);
  transform: scale(var(--factor));
}
