---
import { getEntry } from 'astro:content'

import { ClientsCarousele } from './Clients.Carousele'
import { getImage } from 'astro:assets'

const clientsCollection = await getEntry('client', 'pl/index')

const clientsLogosGlobs = import.meta.glob<ImageMetadata>('/src/assets/clients/**', { eager: true, import: 'default' })

const clientLogos = await Promise.all(
  clientsCollection.data.map(async (entry) => {
    const { logo } = entry
    const optimizedImage = await getImage({ src: clientsLogosGlobs[logo] })
    return optimizedImage.src
  }),
)
---

<section class="clients" transition:name="index-clients">
  <h3 class="clients__title">Tworzyliśmy projekty z...</h3>
  <div class="clients__content">
    <ClientsCarousele client:load clientLogos={clientLogos} />
  </div>
</section>

<style>
  .clients {
    @apply py-[48px] overflow-hidden;
  }
  .clients__title {
    @apply text-center text-heading3 mb-[40px];
  }
  .clients__content {
    @apply flex items-center bg-extra-dark h-[188px];
  }
</style>
