---
import { ClientsCarousele } from './Clients.Carousele'
import { getImage } from 'astro:assets'
import { getCollection } from 'astro:content'
import type { ImageMetadata } from 'astro'
import type { CollectionEntry } from 'astro:content'

const LANG_CODE = 'pl' // TODO: i18n
const clientsCollection = await getCollection('clients').then((c: CollectionEntry<'clients'>[]) =>
  c.filter((e: CollectionEntry<'clients'>) => e.id.startsWith(LANG_CODE)),
)

const clientsAssets = import.meta.glob<ImageMetadata>('/src/assets/clients/**', { eager: true, import: 'default' })
const clientLogoList = await Promise.all(
  clientsCollection.map(async ({ data: { logo } }: CollectionEntry<'clients'>) => {
    const optimizedImage = await getImage({ src: clientsAssets[logo] })
    return optimizedImage.src
  }),
)
---

<section class="clients" transition:name="index-clients">
  <h3 class="clients__title">Tworzyliśmy projekty z...</h3>
  <div class="clients__content">
    <ClientsCarousele client:load clientLogos={clientLogoList} />
  </div>
</section>

<style>
  .clients {
    @apply py-[48px] overflow-hidden;
  }
  .clients__title {
    @apply text-center text-heading3 mb-[40px];
  }
  .clients__content {
    @apply flex items-center bg-extra-dark h-[188px];
  }
</style>
