---
export type Props = {
  showPriceListRoute?: boolean
}

const { showPriceListRoute = true } = Astro.props
---

<nav class="nav-page">
  <a href="#">Cennik </a>
  <a href="#">O nas </a>
  <a href="#" class="nav-page__item--green">Booking </a>
  <a href="#">Kontakt </a>
  {showPriceListRoute && <a href="#">Cennik </a>}
</nav>

<style>
  .nav-page {
    @apply flex gap-[32px];
  }
  .nav-page a {
    @apply text-body2 text-blue-lightest;
  }
  .nav-page a.nav-page__item--green {
    @apply text-green;
  }
</style>
