---
import { Icon } from 'astro-icon/components'
import FooterBottom from './FooterCopyright.astro'
import Navigation from '../Navigation//Navigation.astro'

const companyLocationText = `Flightcore Studios Sp. z o.o.
Mickiewicza 9/U1
01-517 Warszawa

NIP: 525-290-87-47`
---

<footer transition:name="footer-base" class="w-full">
  <div class="container">
    <hr class="border-blue-medium" />
    <div class="flex gap-[240px] mb-[64px]">
      <div>
        <Icon width={undefined} height={undefined} name="brand/wide/medium" class="brand-image" />
        <p class="company-location-text">{companyLocationText}</p>
      </div>
      <div>
        <div class="footer-nav">
          <h6 class="footer-nav__title">Menu</h6>
          <Navigation showPriceListRoute={false} />
        </div>
        <div class="instagram-posts">
          <h6 class="instagram-posts__title">Follow Us on Instagram</h6>
          <div class="instagram-posts__rail">
            <div style="width: 120px; height: 120px; background: #000"></div>
            <div style="width: 120px; height: 120px; background: #000"></div>
            <div style="width: 120px; height: 120px; background: #000"></div>
            <div style="width: 120px; height: 120px; background: #000"></div>
          </div>
        </div>
      </div>
    </div>
    <FooterBottom />
  </div>
</footer>

<style>
  .brand-image {
    @apply text-blue-lightest w-[280px] pt-[60px] pb-[48px];
  }
  .company-location-text {
    @apply whitespace-pre text-white text-body1;
  }
  .footer-nav {
    @apply py-[64px];
  }
  .footer-nav__title,
  .instagram-posts__title {
    @apply text-white text-subtitle mb-[18px];
  }

  .instagram-posts {
  }

  .instagram-posts__rail {
    @apply flex gap-[12px];
  }
</style>
