---
import SocialsFields from '../Socials/Socials.astro'
---

<hr class="border-blue-medium" />
<div class="flex justify-between items-center py-[15px]">
  <p class="text-blue-lightest text-body2">
    Copyright © {new Date().getFullYear()} Flightcore | All Rights Reserved
  </p>
  <nav class="flex space-x-[12px] text-green">
    <SocialsFields size="large" />
  </nav>
</div>
