---
import PublicLayout from '../layouts/PublicLayout.astro'
---

<PublicLayout>
  <div class="container" transition:name="404-view">
    <h1 class="text-center text-heading1 lg:px-[180px] lg:mb-[64px]">404</h1>
    <p class="text-center text-body1">Strona, której szukasz, nie istnieje.</p>
  </div>
</PublicLayout>
