---

---

<div class="container p-5 pb-[100px]" transition:name="contact-view">
  <h2 class="pt-10 text-center text-[38px] text-heading2 md:pt-20 md:text-left md:text-[48px]">Napisz do Nas</h2>
  <div class="flex w-full flex-col justify-between pt-6 md:flex-row md:gap-4">
    <div>
      <p class="w-[374px] text-center text-body1 md:w-[520px] md:text-left">
        Jeśli masz pytania dotyczące realizacji Twojego projektu, śmiało do nas napisz :)
      </p>
      <div class="flex flex-col items-center space-y-4 pt-10 md:items-start">
        <div class="flex flex-row items-center space-x-[10px]">
          <a href="mailto:flightcore.studios@gmail.com">
            <p class="text-body1">flightcore.studios@gmail.com</p>
          </a>
        </div>
        <div class="flex flex-row items-center space-x-[10px]">
          <a href="tel:+48791730204">
            <p class="text-body1 text-flightcore-green">+48 791 730 204</p>
          </a>
        </div>
        <div class="flex flex-row items-start space-x-[10px]">
          <p class="text-body1">
            Flightcore Studios Sp. z o.o.
            <br />
            Mickiewicza 9/U1
            <br />
            01-517 Warszawa
          </p>
        </div>
      </div>
      <div class="mt-16 hidden w-[624px] overflow-hidden rounded-[30px] invert-[.90] md:block"></div>
    </div>
    <form
      class="mt-12 flex h-[675px] w-full flex-col items-center justify-between rounded-[30px] border-2 border-flightcore-medium-blue p-8 md:mt-0 md:w-[520px]">
      <!-- <div class="w-full space-y-6">
        <FloatingLabelInput id="name" label="Imię*" name="name" required />
        <FloatingLabelInput
          name="lastName"
          id="lastName"
          label="Nazwisko*"
          required
        />
        <FloatingLabelInput
          id="email"
          name="email"
          label="Email*"
          required
          type="email"
        />
        <PhoneInput />
        <div class="relative w-full">
          <Textarea
            class="peer resize-none"
            id="message"
            name="message"
            placeholder=" "
            required
          />
          <FloatingLabel htmlFor="message">Wiadomość*</FloatingLabel>
        </div>
      </div>
      <SubmitButton>wyślij wiadomość</SubmitButton> -->
    </form>
  </div>
</div>
