---
import { Icon } from 'astro-icon/components'
import { ContactForm } from '@flightcore/uikit'
---

<div class="container p-5 pb-[100px]" transition:name="contact-view">
  <h2 class="pt-10 text-center text-[38px] text-heading2 md:pt-20 md:text-left md:text-[48px]">Napisz do Nas</h2>
  <div class="flex w-full flex-col justify-between pt-6 md:flex-row md:gap-4">
    <div>
      <p class="w-[374px] text-center text-body1 md:w-[520px] md:text-left">
        Jeśli masz pytania dotyczące realizacji Twojego projektu, śmiało do nas napisz :)
      </p>
      <div class="flex flex-col items-center space-y-4 pt-10 md:items-start">
        <div class="flex flex-row items-center space-x-[10px]">
          <Icon name="contact/mail" class="w-6 h-6" />
          <a href="mailto:flightcore.studios@gmail.com" class="text-green">
            <p class="text-body1">flightcore.studios@gmail.com</p>
          </a>
        </div>
        <div class="flex flex-row items-center space-x-[10px]">
          <Icon name="contact/phone" class="w-6 h-6" />
          <a href="tel:+48791730204">
            <p class="text-body1 text-green">+48 791 730 204</p>
          </a>
        </div>
        <div class="flex flex-row items-start space-x-[10px]">
          <Icon name="contact/location" class="w-6 h-6" />
          <p class="text-body1">
            Flightcore Studios Sp. z o.o.
            <br />
            Mickiewicza 9/U1
            <br />
            01-517 Warszawa
          </p>
        </div>
      </div>
    </div>
    <ContactForm client:load />
  </div>
</div>

<style>
  .input-wrapper {
    margin-bottom: 1.5rem;
  }
  .input-wrapper:last-child {
    margin-bottom: 0;
  }
</style>
