---
import Hero from '../../components/layout/AboutUs/Hero/Hero.astro'
import Timeline from '../../components/layout/AboutUs/Timeline/Timeline.astro'
import { timelineData } from '../../content/about-us/timeline'

// Pobieramy tekst stopki z ostatniej sekcji timeline
const footerText = timelineData[timelineData.length - 1].footer?.text || ''
---

<div>
  <section class="bg-dark">
    <Hero class="pt-[100px]" />
  </section>

  <section class="container mx-auto px-6 my-[150px]">
    <Timeline sections={timelineData} />
  </section>

  {
    footerText && (
      <section class="container mx-auto px-6 mb-[202px] text-center">
        <h3
          class="font-['Tactic_Round'] text-[34px] leading-[40px] tracking-[0.25px] text-blue-lightest font-normal"
          set:html={footerText}
        />
      </section>
    )
  }
</div>

<style>
  .container {
    max-width: 1252px;
  }
</style>
