---
import { HeaderBase } from './HeaderBase/HeaderBase'
import SocialsFields from '../Socials/Socials.astro'
import Navigation from '../Navigation//Navigation.astro'
import { Icon } from 'astro-icon/components'
---

<HeaderBase client:load>
  <Icon slot="brand" class="brand-icon" width={undefined} height={undefined} name="brand/wide/medium" />
  <div class="nav">
    <Navigation />
    <nav class="nav-social">
      <SocialsFields />
    </nav>
  </div>
</HeaderBase>

<style>
  .nav {
    @apply flex gap-[32px];
  }

  .nav-social {
    @apply flex gap-[12px] text-green;
  }
</style>
