---
import { Icon } from 'astro-icon/components'
---

<header class="header">
  <div class="header-container">
    <a href="/" class="brand">
      <Icon class="brand-icon" width={undefined} height={undefined} name="brand/wide/medium" />
    </a>
    <slot />
  </div>
</header>

<script>
  // TODO: Animate
  function handleScroll() {
    const $header = document.querySelector('.header')
    if (!$header) return

    const scrollBreakpoint = window.innerHeight * 1 - $header.clientHeight
    const { scrollTop } = document.documentElement

    const exceedsBreakpoint = scrollTop >= scrollBreakpoint

    if (exceedsBreakpoint) $header.classList.add('header--sticky')
    else $header.classList.remove('header--sticky')
  }
  window.addEventListener('scroll', handleScroll)
  handleScroll()
</script>

<style>
  .header {
    @apply translate-y-0 absolute top-0 left-0 right-0 z-10 border-b-[1px] border-transparent;
  }

  .header--sticky {
    @apply fixed bg-blue-dark border-blue-medium;
  }

  .header-container {
    @apply h-[80px] flex items-center justify-between container;
  }
  .brand {
    @apply block;
  }
  .brand-icon {
    @apply text-green w-[280px];
  }
</style>
