---
import HeaderBase from './HeaderBase.astro'
import SocialsFields from '../../shared/SocialsFields/SocialsFields.astro'
import Navigation from '../Navigation//Navigation.astro'
---

<HeaderBase>
  <div class="nav">
    <Navigation />
    <nav class="nav-social">
      <SocialsFields />
    </nav>
  </div>
</HeaderBase>

<style>
  .nav {
    @apply flex gap-[32px];
  }

  .nav-social {
    @apply flex gap-[12px] text-green;
  }
</style>
