.root {
  margin: auto;
  padding: 0px 0;
  --slide-height: 200px;
  --slide-spacing: 1rem;
  --slide-size: 480px; /* Domyślny rozmiar */
}

@media (max-width: 768px) {
  .root {
    --slide-size: 320px; /* Mniejszy rozmiar na tablety */
  }
}

@media (max-width: 480px) {
  .root {
    --slide-size: 280px; /* Jeszcze mniejszy rozmiar na telefony */
  }
}

.viewport {
  overflow: hidden;
  padding: 32px 0;
}

.viewportContainer {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.slide {
  flex: 0;
}

.slideQuote {
  min-width: var(--slide-size);
  transform: scale(var(--factor));
}
