---
export type Props = {
  showPriceListRoute?: boolean
}

const { showPriceListRoute = true } = Astro.props
---

<nav class="nav-page">
  {
    showPriceListRoute && (
      <a tabindex={0} href="/prices">
        Cennik{' '}
      </a>
    )
  }
  <a tabindex={0} href="/about-us">O nas </a>
  <!-- <a tabindex={0} href="#" class="nav-page__item--green">Booking</a> -->
  <a tabindex={0} href="/contact">Kontakt </a>
</nav>

<style>
  .nav-page {
    @apply hidden lg:flex gap-[32px];
  }
  .nav-page a {
    @apply text-body2 text-blue-lightest;
  }
  .nav-page a.nav-page__item--green {
    @apply text-green;
  }
</style>
