---
export type Props = {
  showPriceListRoute?: boolean
  showIndexRoute?: boolean
  class?: string
}

const { showPriceListRoute = true, showIndexRoute = false, class: className } = Astro.props
---

<nav class:list={['flex gap-[32px]', className]}>
  {
    showIndexRoute && (
      <a tabindex={0} href="/">
        Strona główna{' '}
      </a>
    )
  }
  {
    showPriceListRoute && (
      <a tabindex={0} href="/prices">
        Cennik{' '}
      </a>
    )
  }
  <a tabindex={0} href="/about-us">O nas </a>
  <!-- <a tabindex={0} href="#" class="nav-page__item--green">Booking</a> -->
  <a tabindex={0} href="/contact">Kontakt </a>
</nav>

<style>
  a {
    @apply text-body2 text-blue-lightest;
  }
  a.nav-page__item--green {
    @apply text-green;
  }
</style>
